*{
    margin:0;
    padding:0;
    font-family: "DM Sans", sans-serif;
}
h1{
padding: 10px;
font-family: "DM Sans", sans-serif;
font-optical-sizing: auto;
font-weight: 400;
color:black;
}
header{
    height:75px;
    background-color:#edf6f9;
    display: flex;
    flex-direction: row;
    
}
.link{
    margin:20px;
    flex:1;
    display: flex;
    justify-content: flex-end;
}
span{
    font-size: 1.2em;
    color:black;
    font-weight: 600;

}
.body{
    margin:10px;
    border-radius: 40px;
    height:320px;
    background-color:#bee9e8;
    display:flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    font-size: larger;
}
h4{
    padding: 10px;
    font-weight: bold;
    font-size: large;
}
p{
    margin:-15px;
    padding:25px
}
text{
    flex:2;
}
.photo{
    padding-top: 5px;
    flex:1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10px;
    
}
.photo img{
    object-fit: cover;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    border: 5px solid black;
    
}
footer{
    font-family: "DM Sans", sans-serif;
    font-size: small;
    font-weight: 600;
    height:50px;
    background-color: #ffddd2;
    display:flex;
    align-items: end;
    justify-content: center;
    color:black;

}
.myskills{
    margin:10px;
    border-radius: 40px;
    height:310px;
    background-color: #83c5be;
}
.skills{
    padding: 10px;
    font-weight: bold;
    font-size: large;
}
.textskills{
    font-size: larger;
}
@media (max-width: 768px){
    .body{
        height: 450px;
        font-size: smaller;
    }
    .photo{
        padding-top: 15px;
        height: 50px;
        width: 50px;
        
    }
    .photo img{
        height: 50px;
        width: 50px;
        border: 2px solid black;
    }
    h1{
        font-size:larger;
    }
    .skills{
        font-size:smaller;
    }
    .textskills{
    font-size:smaller;
    }
    .myskills{
        height:600px;
    }
    footer{
        font-size: 10px;
    }    
}
